:root {
  --shadow: 1px 2px 5px #ccc, -1px 2px 5px #ccc;
  --border-radius: 4px;
}

* {
  font-family: Helvetica;
  font-size: 18px;
}

body {
  margin: 20px;
  background: #eee;
}

input[type="submit"] {
  cursor: pointer;
}

form {
  display: grid;
}

.text-section {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}

textarea {
  resize: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 15px;
  box-shadow: var(--shadow);
}

.submit {
  border: none;
  background: royalblue;
  color: white;
  padding: 10px 15px;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}
